.intro-title-container button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(0, 1, 35, 0.9), rgba(7, 60, 0, 0.9));
  width: 0;
  height: 100%;
  transition: all 0.5s ease;
  border-radius: 5px;
  z-index: -1;
}

.intro-title-container button:hover {
  background: none;
  color: #fff;
}

.intro-title-container button:hover::after {
  width: 100%;
}

.nav-container .ul-container a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transform: translateX(-50%) scaleX(1);
  background: #fff;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.nav-container .ul-container a:hover::after {
  width: 90%;
  transform: translateX(-50%) scaleX(1.1);
}

.nav-container .ul-container .link-active::after {
  width: 90%;
  transform: translateX(-50%) scaleX(1.1);
}

.home-container .block-content .left-content .btn-area button:hover {
  transform: translateX(10px);
}

.home-container .block-content .right-content .cards:hover,
.topic-container .block-content:nth-child(2) .animals-container .cards:hover,
footer .image-container .image-content img:hover {
  transform: translateY(-10px);
  filter: brightness(1.2) contrast(1.2) saturate(1.5);
}

.home-container .block-content .right-content .cards:hover h1 {
  opacity: 1;
  transition: all 0.5s ease;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.about-container
  .block-content:nth-child(3)
  .content
  .resources-list
  .content
  li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.topic-container .block-content .habitat-content .content .cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #fff;
  filter: brightness(1.2) contrast(1.2) saturate(3);
}

.topic-container .block-content .habitat-content .content .cards:hover h1 {
  opacity: 1;
  transform: translateY(-10px);
}

.profile-pic:hover img {
  transform: scale(0.9);
  filter: brightness(1.1) contrast(1.2) saturate(1.1);
}
